<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulario de cadastro de Noticia</title>
		</head>
	<body>

		<h1>Adicionar noticia</h1>
		<br>
		<form action="/noticias/salvar" method="post" >
		<label >Titulo</label>
		<input type="text" id="titulo" name="titulo" placeholder="Titulo da Noticia">
		<br>
		<label >Autor</label>
		<input type="text" id="Autor" name="Autor" placeholder="Autor da Noticia">
		<br>
		<label >Resumo</label>
		<input type="text" id="resumo" name="Resumo" placeholder="Resumo da Noticia">
		<br>
		<label >Data Noticia</label>
		<input type="date" id="data_Noticia" name="data_Noticia" placeholder="Data da Noticia">
		<br>
		<label >Noticia</label>
		<textarea name="noticia" id="noticia" cols="30" rows="5"></textarea>
		<input type="submit" value="Emviar">

		</form>

	</body>
</html>